<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <style>
      div {
        display: flex;
        justify-content: space-between;
      }

      img {
        height: 200px;
        width: 200px;
      }
    </style>
  </head>
  <body>
    <div>
      <img
        src="https://static.vecteezy.com/system/resources/thumbnails/063/230/122/small/young-deer-adorned-with-a-flower-crown-resting-peacefully-in-a-vibrant-meadow-filled-with-blooming-wildflowers-on-a-sunny-day-in-spring-photo.jpg"
        alt=""
      />
      <img
        src="https://static.vecteezy.com/system/resources/thumbnails/063/230/122/small/young-deer-adorned-with-a-flower-crown-resting-peacefully-in-a-vibrant-meadow-filled-with-blooming-wildflowers-on-a-sunny-day-in-spring-photo.jpg"
        alt=""
      />

      <img
        src="https://static.vecteezy.com/system/resources/thumbnails/063/230/122/small/young-deer-adorned-with-a-flower-crown-resting-peacefully-in-a-vibrant-meadow-filled-with-blooming-wildflowers-on-a-sunny-day-in-spring-photo.jpg"
        alt=""
      />
    </div>
  </body>
</html>
